<div class="card" style="width: 18rem;">
    <div class="card-body">
        <table>
            <tr *ngFor="let item of Lista">
                <th>id</th>
              <td>{{item.id}}</td>
    
            <tr *ngFor="let item of Lista">
              <th>Nome</th>
              <td>{{item.nome}}</td>
            </tr>

            <tr *ngFor="let item of Lista">
                <th>SobreNome</th>
                <td>{{item.sobreNome}}</td>
            </tr>
            <tr *ngFor="let item of Lista">
                <th>Email</th>
                <td>{{item.email}}</td>
            </tr>
              <tr *ngFor="let item of Lista">
                <th>Idade</th>
                <td>{{item.idade}}</td>
            </tr>
      
          </table>
    </div>
  </div>